# 服务器配置
ip = 192.168.239.128
port = 8888
backlog = 128

# 英文
en_stop_words = ../../data/corpus/stop_words/stop_words_eng.txt
en_dict = ../../data/en_dict.dat
en_dict_index = ../../data/en_dict_index.dat

# 中文
zh_stop_words = ../../data/corpus/stop_words/stop_words_zh.txt
zh_dict = ../../data/zh_dict.dat
zh_dict_index = ../../data/zh_dict_index.dat

# 网页偏移库 倒排索引库 网页库
offset_lib = ../../data/unrepeated_offsetlib.dat
invert_index_lib = ../../data/invert_index_lib.dat
webpage_lib = ../../data/unrepeated_webpage.dat

# 结巴分词配置
IDF_PATH = ../../data/dict/idf.utf8
HMM_PATH = ../../data/dict/hmm_model.utf8
DICT_PATH = ../../data/dict/jieba.dict.utf8
USER_DICT_PATH = ../../data/dict/user.dict.utf8
STOP_WORD_PATH = ../../data/dict/stop_words.utf8

static_resource = ../../data/static/homepage.html

# Python服务器
python_server_ip = 192.168.239.128
python_server_port = 9527